.fill{
    width:100%;
    display:none;
}
.input{
    width:150px;
    height:55px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 50px;
}
.light{
    background-color: blue;
}
.container{
    display:flex;
    
    height:1100px;
    width:1100px;
    flex-flow:wrap;
    border-radius: 25px;
    border:3px solid black;
}

body{
    display:flex;
   align-items: center;
   justify-content: center; 
   flex-direction: column;
   min-height: 100vh;
}

